.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo {
  margin-top: auto;
  padding: 1rem 10%;
  border: 1px solid rgb(126, 117, 117);
  border-radius: 2rem;
  margin: 20px;

}
