table {
  width: 100%;
}

.container{
  width: 90%;
  margin: auto;
}

.mat-form-field {
  width: 100%;
}

button {
  width: 100%;
}
h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem ;
}

.edit{
  color:rgb(35, 214, 35)
}

.delete {
  color:red
}
